<%-include('../header.ejs')%>
<div class="container my-5 ">
    <div class="dash-title my-5" >
        <h1 class="text-center py-5 bg-info">MBA FORM DISPLAY</h1>
    </div>
    <div class="table-responsive my-lg-5">
    <table class="table align-middle">
        <tbody>
            <tr style="background-color: #35b9dd; color: #fff;" class="trb thead text-center">
                <th>S. No.</th>
                <th>Name</th>
                <th>College</th>
                <th>Course</th>
                <th>Branch</th>
                <th>Status</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>
            <tr class="text-center trb table" style="text-transform:uppercase;">
                <td>1</td>
                <td><%=cdata.name%></td>
                <td><%=cdata.college%></td>
                <td><%=cdata.course%></td>
                <td><%=cdata.branch%></td>
                <td><%=cdata.status%></td>
                <td><%=cdata.comment%></td>
                <td>
                    <a href="/mbaformview" class="btn btn-warning btn-sm action-btn">View</a>
                    <a href="/mbaformedit" class="btn btn-info btn-sm action-btn">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="my-4 text-center">
        <a href="/dashboard"
            style="background-color: yellow; padding: 10px;color: #0a0202;text-decoration: none;">Back To The Dashboard</a>
    </div>

</div>


<%-include('../footer.ejs')%>