<%-include('../header.ejs')%>
    <div class="dash-title" style="margin:80px 50px 50px 50px;">
        <h1 class="text-center py-4" style="background-color:#11a8f4; color: #100101;">BCA FORM DISPLAY</h1>
    </div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr style="background-color: #35b9dd; color: #fff;" class="trb thead text-center">
                <th>S. No.</th>
                <th>Name</th>
                <th>College</th>
                <th>Course</th>
                <th>Branch</th>
                <th>Status</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>


            <tr class="text-center trb table" style="text-transform:uppercase;">
                
                <td>1</td>
                <td><%=cdata.name%></td>
                <td><%=cdata.college%></td>
                <td><%=cdata.course%></td>
                <td><%=cdata.branch%></td>
                <td>pending</td>
                <td>Wait</td>
                <td>
                    <a href="/btechformview" class="btn btn-danger btn-sm action-btn"><i
                            class="fa-solid fa-eye"></i></a>
                    <a href="/btechformedit" class="btn btn-info btn-sm action-btn"><i
                            class="fa-regular fa-pen-to-square"></i></a>

                </td>
            </tr>
            



        </tbody>
    </table>
    <div class="my-4 text-center">
        <a href="/dashboard"
            style="background-color: yellow; padding: 10px;color: #0a0202;text-decoration: none;">Back To The Dashboard</a>
    </div>


<%-include('../footer.ejs')%>